* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
html {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  background-color: #ccc;
  padding: 20px 0;
}

footer {
  background-color: #666;
  color: white;
  padding: 30px 0;
}

main {
  flex: 1;
  padding: 20px 0;
}

.y-navs {
  display: flex;
  /* gap: 16px; */
}

.y-navs a:first-of-type {
  flex: 1;
}

.y-navs a:not(:first-of-type) {
  margin: 0 8px;
}
.y-navs a:last-of-type {
  margin-right: 0;
}

.y-wrap {
  width: 90%;
  margin: 0 auto;
}

ul {
  display: flex;
  column-gap: 4px;
  row-gap: 4px;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 20px 0;
}

.breeds li {
  cursor: pointer;
  padding: 20px 0;
  background-color: aliceblue;
  text-align: center;
  width: 160px;
}

.breeds li.active {
  background-color: cornflowerblue;
  color: white;
}

.breeds-subheader {
  display: flex;
  gap: 20px;

}

.breeds-subheader button {
  background-color: cornsilk;
  border: 1px solid transparent;
  padding: 0 18px;
  cursor: pointer;
}